.picture {
    /*
    Lay the picture containers out one after the other. (To see why
    this line is important, try changing it to 'block' or 'inline'.)
    */
    display: inline-block;

    /* add a little space between each picture and the next */
    margin: 10px;
}

.gallery img {
    /*
    The original images are all different sizes but we need
    them to be consistent for the gallery layout to look good.
    */
    height: 200px;

    /* add an outline around each picture */
    border: 3px double white;
}

.gallery p {
    text-align: center;
    margin-top: 0;
}
body{
    text-align:center;
    background: url("https://media.timeout.com/images/105875404/image.jpg");
    color: white;
    font-family: 'Alata';font-size: 22px;
}

